//
// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//

// Example of a variable override to change Silicon background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #f3f6ff;
$primary:                     #1ab7c9;
$info:                        #c475cc;
$gray-800:                    #581c5a;
$gray-900:                    #581c5a;
