{% extends 'endorphina-base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

            <!-- Hero slider + BG parallax -->
      <section class="jarallax bg-dark py-xxl-5" data-jarallax data-speed="0.4" data-bs-theme="dark">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-dark-translucent"></span>
        <div class="jarallax-img" style="background-image: url({% static 'assets/img/banner-endorphina.webp' %}); background-position: 60% center !important;"></div>
        <div class="position-relative text-center zindex-5 overflow-hidden pt-4 py-md-5">

          <!-- Slider controls (Prev / next) -->
          <button type="button" id="hero-prev" class="btn btn-prev btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 start-0 translate-middle-y d-none d-md-inline-flex ms-n3 ms-lg-2" aria-label="Previous">
            <i class="bx bx-chevron-left fs-1"></i>
          </button>
          <button type="button" id="hero-next" class="btn btn-next btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 end-0 translate-middle-y d-none d-md-inline-flex me-n3 me-lg-2" aria-label="Next">
            <i class="bx bx-chevron-right fs-1"></i>
          </button>

          <!-- Slider -->
          <div class="container text-center py-xl-5">
            <div class="row justify-content-center pt-lg-5">
              <div class="col-xl-8 col-lg-9 col-md-10 col-11">
                <div class="swiper pt-5 pb-4 py-md-5" data-swiper-options='{
                  "effect": "fade",
                  "speed": 500,
                  "autoplay": {
                    "delay": 5500,
                    "disableOnInteraction": false
                  },
                  "pagination": {
                    "el": ".swiper-pagination",
                    "clickable": true
                  },
                  "navigation": {
                    "prevEl": "#hero-prev",
                    "nextEl": "#hero-next"
                  }
                }'>
                  <div class="swiper-wrapper">

                    <!-- Item -->
                    <div class="swiper-slide">
                      <h2 class="display-1 from-start mb-lg-4">Откройте мир премиум-слотов с Endorphina</h2>
                      <div class="from-end">
                        <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">Инновационные игры для онлайн-казино, сочетающие захватывающий геймплей и впечатляющий дизайн</p>
                      </div>
                      <div class="scale-up delay-2">
                        <a href="/slots/" class="btn btn-primary shadow-primary btn-lg">Играть демо</a>
                      </div>

                    </div>

                    <!-- Item -->
                    <div class="swiper-slide">
                      <h2 class="display-2 from-start mb-lg-4">Лучшие предложения от партнеров</h2>
                      <div class="from-end">
                        <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">Играйте в игры от Endorphina на проверенных площадках с непревзойденной репутацией. Надежность, безопасность и удовольствие гарантированы!</p>
                      </div>
                      <div class="scale-up delay-2">
                        <span data-target="_blank" data-href="/play/{{ site.sorted_offers.first.redirect_name }}/?placement=hero_screen&path={{ request.path }}" class="btn btn-primary shadow-primary btn-lg play-link">Бездепозитный бонус 100 FS</span>
                      </div>
                    </div>

                    <!-- Item -->
                    <div class="swiper-slide">
                      <h2 class="display-2 from-start mb-lg-4">Игры, которые захватывают с первого спина</h2>
                      <div class="from-end">
                        <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">Endorphina — лидер в разработке захватывающих игр для казино с уникальными механиками и высококачественной графикой</p>
                      </div>
                      <div class="scale-up delay-2">
                        <a href="/slots/" class="btn btn-primary shadow-primary btn-lg">Перейти к играм</a>
                      </div>
                    </div>
                  </div>

                  <!-- Pagination (bullets) -->
                  <div class="swiper-pagination position-relative d-md-none pt-2 mt-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container d-flex flex-column flex-sm-row align-items-center justify-content-between position-relative zindex-5 pb-5">
          <div class="d-flex mb-4 mb-sm-0">
{#            <a href="#" class="btn btn-icon btn-secondary btn-linkedin rounded-circle me-2" aria-label="LinkedIn">#}
{#              <i class="bx bxl-linkedin"></i>#}
{#            </a>#}
{#            <a href="#" class="btn btn-icon btn-secondary btn-facebook rounded-circle me-2" aria-label="Facebook">#}
{#              <i class="bx bxl-facebook"></i>#}
{#            </a>#}
{#            <a href="#" class="btn btn-icon btn-secondary btn-twitter rounded-circle me-2" aria-label="Twitter">#}
{#              <i class="bx bxl-twitter"></i>#}
{#            </a>#}
{#            <a href="#" class="btn btn-icon btn-secondary btn-youtube rounded-circle me-2" aria-label="YouTube">#}
{#              <i class="bx bxl-youtube"></i>#}
{#            </a>#}
          </div>
          <a href="/slots/" class="nav-link px-0">
            Перейти к слотам
            <i class="bx bx-right-arrow-circle fs-4 ms-2"></i>
          </a>
        </div>
      </section>



    <!-- Story -->
    <section class="container mb-1 pt-md-1 pt-lg-4 pt-xl-5">
        <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
            <h2 class="h1 mb-4">Премиум-слоты от <span class="text-primary">{{ site.provider.name|upper }}</span>
            </h2>
            <p class="mb-4 fs-4"><span class="text-primary">{{ site.provider.name|upper }}</span> — это элитный поставщик игр для тех, кто ценит совершенство. Премиальные слоты от {{ site.provider.name|upper }} принесут вам незабываемые эмоции в мире онлайн-гемблинга. Выбирайте лучшее — выбирайте {{ site.provider.name|upper }}!
  </p>

        </div>


    </section>


      <!-- New slots -->
    <section id="popularslots" class="container mb-2 pt-lg-2 pt-xl-4 pb-2 pb-md-3 pb-lg-5">
      <!-- Page title + Filters -->
      <div class="d-lg-flex align-items-center justify-content-between pt-4 pb-0 pb-md-2 mt-lg-2">
        <h1 class="me-3">Новые слоты</h1>
        <div class="d-md-flex mb-3">
          <div class="pt-md-3 pt-2 text-center">
            <a href="{% url 'slot_list' %}" class="btn btn-outline-primary w-sm-auto w-100 d-none d-md-block">Все слоты</a>
          </div>
        </div>
      </div>

      <!-- Slots grid -->
      <div class="masonry-grid row g-md-4 g-2 mb-2">

          {% for slot in new_slots %}
        <!-- Item -->
        <div class="masonry-grid-item col-md-4 col-sm-6 col-6">
          <a href="{% url 'slot_detail' slug=slot.slug %}" class="card card-portfolio card-hover bg-transparent border-0">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-80 rounded-3"></span>
              <div class="position-relative zindex-2">
                <h3 class="h3 text-light mb-2">{{ slot.name }}</h3>
				<span class="fs-sm text-light opacity-70 d-none d-md-flex">{{ slot.snippet|slice:":100" }}...</span>
              </div>
            </div>
            <div class="card-img">
              <img
                src="{{ slot.logo.url }}"
                class="rounded-3 w-100 h-100" alt="{{ slot.name }}" loading="lazy">
            </div>
          </a>
        </div>
          {% endfor %}


      </div>

      <div class="pt-md-3 pt-2 text-center">
        <a href="{% url 'slot_list' %}" class="btn btn-outline-primary w-sm-auto w-100 d-md-none">Все слоты</a>
      </div>
    </section>

      <!-- Popular slots -->
    <section id="popularslots" class="container mb-2 pt-lg-2 pt-xl-4 pb-2 pb-md-3 pb-lg-5">
      <!-- Page title + Filters -->
      <div class="d-lg-flex align-items-center justify-content-between pt-4 pb-0 pb-md-2 mt-lg-2">
        <h1 class="me-3">Популярные слоты</h1>
        <div class="d-md-flex mb-3">
          <div class="pt-md-3 pt-2 text-center">
            <a href="{% url 'slot_list' %}" class="btn btn-outline-primary w-sm-auto w-100 d-none d-md-block">Все слоты</a>
          </div>
        </div>
      </div>

      <!-- Slots grid -->
      <div class="masonry-grid row g-md-4 g-2 mb-2">

          {% for slot in popular_slots %}
        <!-- Item -->
        <div class="masonry-grid-item col-md-4 col-sm-6 col-6">
          <a href="{% url 'slot_detail' slug=slot.slug %}" class="card card-portfolio card-hover bg-transparent border-0">
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
              <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-80 rounded-3"></span>
              <div class="position-relative zindex-2">
                <h3 class="h3 text-light mb-2">{{ slot.name }}</h3>
				<span class="fs-sm text-light opacity-70 d-none d-md-flex">{{ slot.snippet|slice:":100" }}...</span>
              </div>
            </div>
            <div class="card-img">
              <img
                src="{{ slot.logo.url }}"
                class="rounded-3 w-100 h-100" alt="{{ slot.name }}" loading="lazy">
            </div>
          </a>
        </div>
          {% endfor %}


      </div>

      <div class="pt-md-3 pt-2 text-center">
        <a href="{% url 'slot_list' %}" class="btn btn-outline-primary w-sm-auto w-100 d-md-none">Все слоты</a>
      </div>
    </section>




    <!-- Brands (Carousel) -->
    <section class="container mt-2 mb-lg-2 mb-xl-4 pt-3 pt-lg-5 pb-5">
        <h2 class="text-center pb-md-2">Награды {{ site.provider.name }}</h2>
        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'>
            <div class="swiper-wrapper">


                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/IGA.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/iGB-Affiliate-logo.png' %}"
                             class="d-block mx-auto my-auto" alt="Brand" style="max-height: 100px !important;">
                    </a>
                </div>


                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/SIGMA-AMERICAS-logo.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/askgamblers.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/online-casino-supplier2.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/product-launch.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>


                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/CasinoBeats_GameDeveloperAwards_logo-white.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/EGR-B2B-Logo-1-1.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>


                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/SBC-Awards-logo.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>

                <!-- Item -->
                <div class="swiper-slide py-3 h-auto">
                    <a class="card card-body px-2 mx-2 h-100">
                        <img src="{% static 'assets/img/awards/MiGEA-Logo.png' %}"
                             class="d-block mx-auto my-auto" style="max-height: 100px !important;" alt="Brand">
                    </a>
                </div>


            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>
    </section>


    <!-- FAQ (Accordion) -->
    <section class="container pt-1 pt-lg-3">
        <div class="position-relative bg-secondary rounded-3 overflow-hidden px-3 px-sm-4 px-md-0 py-5">

            <!-- Parallax patterns -->
            <div class="rellax position-absolute top-0 start-0 w-100 h-100 d-none d-lg-block"
                 data-rellax-percentage="0.5" data-rellax-speed="1.75">
                <img src="{% static 'assets/img/landing/online-courses/pattern-1.svg' %}"
                     class="position-absolute top-0 start-100 translate-middle ms-n4" alt="Pattern">
                <img src="{% static 'assets/img/landing/online-courses/pattern-2.svg' %}"
                     class="position-absolute top-50 start-0 mt-n5 ms-n5" alt="Pattern">
                <img src="{% static 'assets/img/landing/online-courses/pattern-3.svg' %}"
                     class="position-absolute top-100 start-100 translate-middle ms-n5 mt-n5" alt="Pattern">
            </div>

            <div class="row justify-content-center position-relative zindex-2 py-lg-4">
                <div class="col-xl-8 col-lg-9 col-md-10 py-2">
                    <h2 class="h1 text-center mt-n2 mt-lg-0 mb-4 mb-lg-5">Часто задаваемые вопросы</h2>
                    <div class="accordion" id="faq">

                        <!-- Item -->
                        <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                            <h3 class="accordion-header">
                                <button class="accordion-button shadow-none rounded-3" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#q-1" aria-expanded="true"
                                        aria-controls="q-1">Что такое {{ site.provider.name }}?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show" id="q-1" data-bs-parent="#faq">
                                <div class="accordion-body fs-sm pt-0">
                                    <p>{{ site.provider.name }} - ведущий поставщик игрового контента для онлайн-казино,
                                        предлагающий широкий спектр продуктов, включая слоты, игры с живыми дилерами,
                                        бинго и многое другое. Компания известна своими инновационными решениями и
                                        высококачественными играми.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                            <h3 class="accordion-header">
                                <button class="accordion-button shadow-none rounded-3 collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#q-2" aria-expanded="false"
                                        aria-controls="q-2">Где лицензирована компания {{ site.provider.name }}?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="q-2" data-bs-parent="#faq">
                                <div class="accordion-body fs-sm pt-0">
                                    <p>{{ site.provider.name }} имеет лицензии на деятельность в различных юрисдикциях, включая
                                        Великобританию, Мальту и Кюрасао.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                            <h3 class="accordion-header">
                                <button class="accordion-button shadow-none rounded-3 collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#q-3" aria-expanded="false"
                                        aria-controls="q-3">Где я могу играть в игры {{ site.provider.name }}?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="q-3" data-bs-parent="#faq">
                                <div class="accordion-body fs-sm pt-0">
                                    <p>Игры {{ site.provider.name }} доступны в широком спектре онлайн-казино. Вы можете найти
                                        список казино на сайте {{ site.provider.name }}. Вы можете поиграть в демо слотов на
                                        нашем сайте. </p>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                            <h3 class="accordion-header">
                                <button class="accordion-button shadow-none rounded-3 collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#q-4" aria-expanded="false"
                                        aria-controls="q-4">Являются ли игры {{ site.provider.name }} безопасными?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="q-4" data-bs-parent="#faq">
                                <div class="accordion-body fs-sm pt-0">
                                    <p>Да, игры {{ site.provider.name }} безопасны. Они регулярно тестируются независимыми
                                        лабораториями, чтобы гарантировать честность и справедливость.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                            <h3 class="accordion-header">
                                <button class="accordion-button shadow-none rounded-3 collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#q-5" aria-expanded="false"
                                        aria-controls="q-5">Как {{ site.provider.name }} обеспечивает честность своих игр?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="q-5" data-bs-parent="#faq">
                                <div class="accordion-body fs-sm pt-0">
                                    <p>{{ site.provider.name }} использует сертифицированный генератор случайных чисел (ГСЧ) для
                                        обеспечения честности своих игр. Игры также регулярно тестируются независимыми
                                        лабораториями.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}