{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


<!-- Story -->
<section class="container mb-1 pt-md-1 pt-lg-4 pt-xl-5">
    <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto text-center" style="max-width: 46.625rem;">
        <h2 class="h1 mb-4">{% trans 'Слоты от' %} <span class="text-primary">Pragmatic Play</span>{% if theme %} <br />{% trans 'в категории' %} <span class="text-primary">{{ theme.title }}</span>{% endif %}</h2>
        <p class="mb-4">{{ slots_list_info }}</p>
<span data-href="/play/{{ site.sorted_offers.first.redirect_name }}/?placement=slot_list&path={{ request.path }}" data-target="_blank" class="px-5 btn btn-primary shadow-primary btn-lg mb-3 play-link lh-sm">Бездепозитный бонус 100 FS<br>
                по промокоду DOBER
</span>


    </div>


</section>


<!-- Page title + Filters -->
<section class="container mb-1 pt-md-1 pt-lg-2 pt-xl-2">
    <div class="d-lg-flex align-items-center justify-content-between pt-2 mt-lg-2">
        {% if slot_name %}
            <h2 class="me-3">{% trans 'Поиск по запросу' %}: {{ slot_name }}</h2>
        {% else %}
            <h2 class="me-3">{% trans 'Выберите слот' %}</h2>
        {% endif %}
        <div class="d-md-flex">
{#            <select class="form-select me-md-4 mb-2 mb-md-0 d-none" style="min-width: 240px;">#}
{#                <option value="all">Категория</option>#}
{#                <option value="popular">Популярные</option>#}
{#                <option value="new">Новые</option>#}
{#            </select>#}
            <div class="position-relative" style="min-width: 300px;">
                <form action="{% url 'slot_list' %}" method="get">
                    <input type="text" class="form-control pe-5" placeholder="{% trans 'Поиск' %}" name="slot_name">
                    <i class="bx bx-search text-nav fs-lg position-absolute top-50 end-0 translate-middle-y me-3"></i>
                </form>
            </div>
        </div>
    </div>
</section>

    <!-- Themes (Carousel) -->
    <section class="container mb-1" style="overflow:hidden;">
        <div class="swiper" style="width:130%;" data-swiper-options='{
          "slidesPerView": 4,
          "spaceBetween": 3,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "650": {
              "slidesPerView": 6,
              "spaceBetween": 3
            },
            "900": {
              "slidesPerView": 9,
              "spaceBetween": 3
            },
            "1100": {
              "slidesPerView": 12,
              "spaceBetween": 3
            }
          }
        }'>
            <div class="swiper-wrapper">
                {% for theme in themes %}
                <!-- Item -->
                    <div class="swiper-slide py-2 h-auto">
                        <a href="{% url 'slot_list' %}?theme={{ theme.id }}" class="btn btn-outline-primary py-2 w-100">{{ theme.title }}</a>
                    </div>
                {% endfor %}
                <div class="swiper-slide py-2 h-auto"></div>

            </div>
        </div>
    </section>

<!-- Slots -->
<section class="container pb-2 mb-md-1 mb-lg-1">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mb-3 g-3">

        {% for slot in slots %}
        <!-- Item -->
        <div class="col">
            <article class="card h-100 border-0 text-center card-hover border-primary">
                <div class="position-relative">
                    <a href="{% url 'slot_detail' slug=slot.slug %}" class="d-block position-absolute w-100 h-100 top-0 start-0"
                       aria-label="{{ slot.name }}"></a>
                <div class="position-absolute top-0 start-0 zindex-2 mt-3 ms-3">
                    {% if slot.users_choice %}<span class="badge bg-primary">{% trans 'Выбор игроков' %}</span>{% endif %}
{#                    {% if slot.is_new %}<span class="badge bg-success ">Новинка</span>{% endif %}#}
                </div>

                    <img src="{{ slot.logo.url }}" class="card-img-top"
                         alt="{{ slot.name }}" loading="lazy">
                </div>
                <div class="card-body pb-3">
                    <h3 class="h5 mb-2">
                        <a href="{% url 'slot_detail' slug=slot.slug %}">{{ slot.name }}</a>
                    </h3>
                    <p class="fs-sm mb-2">{{ slot.snippet }}</p>
                    <a href="{% url 'slot_detail' slug=slot.slug %}" class="btn btn-primary mt-2 stretched-link">{% trans 'Играть сейчас' %}</a>
                </div>
                <div class="card-footer d-flex fs-sm text-muted py-3">
                    <div class="d-flex me-4">
                        RTP: {{ slot.rtp }}%
                    </div>
                    <div class="d-flex ms-auto">
                        <i class="bx bx-like fs-xl me-1"></i>
                        {{ slot.rating }}%
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}


    </div>


<!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center py-4">
                {% if slots.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ slots.previous_page_number }}{% if slot_name %}&slot_name={{ slot_name }}{% endif %}{% if theme %}&theme={{ theme.id }}{% endif %}" class="page-link"
                           aria-label="Previous page">
                            <i class="bx bx-chevron-left mx-n1"></i>
                        </a>
                    </li>
                {% endif %}

                {% if slots.number > 3 %}
                    <li class="page-item">
                        <a href="?page=1{% if slot_name %}&slot_name={{ slot_name }}{% endif %}{% if theme %}&theme={{ theme.id }}{% endif %}"
                           class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        &hellip;
                    </li>
                {% endif %}

                {% for num in slots.paginator.page_range %}
                    {% if num >= slots.number|add:"-1" and num <= slots.number|add:"1" %}
                        <li class="page-item {% if num == slots.number %}active{% endif %}">
                            <a href="?page={{ num }}{% if slot_name %}&slot_name={{ slot_name }}{% endif %}{% if theme %}&theme={{ theme.id }}{% endif %}" class="page-link">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if slots.number < slots.paginator.num_pages|add:"-2" %}
                    <li class="page-item">
                        &hellip;
                    </li>
                    <li class="page-item">
                        <a href="?page={{ slots.paginator.num_pages }}{% if slot_name %}&slot_name={{ slot_name }}{% endif %}{% if theme %}&theme={{ theme.id }}{% endif %}"
                           class="page-link">{{ slots.paginator.num_pages }}</a>
                    </li>
                {% endif %}

                {% if slots.has_next %}
                    <li class="page-item">
                        <a href="?page={{ slots.next_page_number }}{% if slot_name %}&slot_name={{ slot_name }}{% endif %}{% if theme %}&theme={{ theme.id }}{% endif %}"
                           class="page-link" aria-label="Next page">
                            <i class="bx bx-chevron-right mx-n1"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

</section>


<!-- Brands (Carousel) -->
<section class="container mt-2 mb-lg-1 mb-xl-3 pt-3 pt-lg-5 pb-5">
    <h2 class="text-center pb-md-2">{% trans 'Лицензированные и сертифицированные игры' %}</h2>
    <div class="swiper mx-n2" data-swiper-options='{
    "slidesPerView": 2,
    "pagination": {
      "el": ".swiper-pagination",
      "clickable": true
    },
    "breakpoints": {
      "500": {
        "slidesPerView": 3,
        "spaceBetween": 8
      },
      "650": {
        "slidesPerView": 4,
        "spaceBetween": 8
      },
      "900": {
        "slidesPerView": 6,
        "spaceBetween": 8
      },
      "1100": {
        "slidesPerView": 8,
        "spaceBetween": 8
      }
    }
  }'>
        <div class="swiper-wrapper">


            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/mgalogo@2x.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/gamblingcomission-2-x.png' %}"
                         class="d-block mx-auto my-auto" alt="Brand" style="max-height: 50px !important;">
                </a>
            </div>


            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/03onin@2x.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/898183569-c-5-b-1407-ade-8-abb-907534-b-02-www-pragmaticplay.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/bahamas.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/HMGib@2x.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>


            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/Gaminglabs.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3 h-auto">
                <a class="card card-body px-2 mx-2 h-100">
                    <img src="{% static 'assets/img/licences/IMG_8233123.png' %}"
                         class="d-block mx-auto my-auto" style="max-height: 50px !important;" alt="Brand">
                </a>
            </div>


        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-2 mt-4"></div>
    </div>
</section>


{% endblock %}