{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- Hero section with layer parallax gfx -->
    <section class="position-relative py-3 py-lg-4">

        <!-- Gradient BG -->
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>

        <!-- Content -->
        <div class="container position-relative zindex-2 py-lg-3 text-center">
            <h2 class="text-primary">{% trans 'Демо игра в' %} {{ slot.name }}{% if slot.folk_name and current_language == 'ru' %} ({{ slot.folk_name }}){% endif %}</h2>
            <div class="row">

                <div style="position: relative; width: 100%; padding-bottom: 62.5%;">
                    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                         class="shadow-primary rounded-4 overflow-hidden">
                        <iframe id="iframe" allowfullscreen="true" tabindex="0" frameborder="0" scrolling="no"
                                width="100%" height="100%"
                                src="https://demogamesfree.pragmaticplay.net/gs2c/openGame.do?lang={% trans 'ru' %}&cur={% trans 'RUB' %}&gameSymbol={{ slot.game_symbol }}&jurisdiction=99"
                                style="border:none;"></iframe>
                    </div>
                </div>

            </div>

{#            <a href="/play/{{ site.offers.first.redirect_name }}/?placement=demo_screen"#}
{#               onclick="ym(97614878, 'reachGoal', 'demo_bonus_button'); return true;"#}
{#               class="btn btn-primary mt-3 shadow-primary btn-lg" target="_blank">#}
{#                {% trans 'Бездепозитный бонус' %} 100 FS#}
{#            </a>#}


        <h2 class="h4 text-center pt-4">
            {% trans 'Бездепозитный бонус' %} 100 FS:
        </h2>
        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 6
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 6
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 6
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 6
            }
          }
        }'>
            <div class="swiper-wrapper">
                {% for offer in site.sorted_offers.all %}
                <!-- Item -->
                <div class="swiper-slide pb-4 pt-1 h-auto" style="cursor:pointer">
                    <span data-target="_blank" class="card card-body px-2 mx-1 h-100 card-hover shadow-primary play-link" data-href="/play/{{ offer.redirect_name }}/?placement=demo_screen&path={{ request.path }}">
                        <img src="{{ offer.logo_light_mode.url }}"
                             class="d-dark-mode-none mx-auto my-auto" style="max-height: 50px !important;" alt="Trust Partner">
                        <img src="{{ offer.logo_dark_mode.url }}"
                             class="d-dark-mode-block d-none mx-auto my-auto" style="max-height: 50px !important;" alt="Trust Partner">
                    </span>
{#                    <div class="mt-1">#}
{#                        <a class="text-primary text-center fs-xs text-decoration-none">Скачать приложение</a>#}
{#                    </div>#}
                </div>
                {% endfor %}
            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>


        </div>

    </section>

    <!-- Story -->
    <section class="container mb-1 pt-md-1 pt-lg-4 pt-xl-5">
        <div class="mt-4 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto" style="max-width: 46.625rem;">
            <h1 class="h1 mb-4">
                      <span class="text-primary">
                          {{ slot.name }}{% if slot.folk_name and current_language == 'ru' %} ({{ slot.folk_name }}){% endif %}
                      </span>
            </h1>
            <div class="content">
                {{ slot.description|safe }}
                <div class="gradient-block d-none d-dark-mode-block"></div>
            </div>
            <button class="btn btn-outline-primary btn-lg w-100 mt-3" id="showText">
                {% trans 'Читать полностью' %}
                <i class="bx bx-down-arrow-alt fs-xl ms-2" id="showMoreArrow"></i>
            </button>
        </div>
    </section>

    <!-- Similar slots -->
    <section class="container mt-1 mt-sm-2 py-md-2 py-lg-2">
        <div class="row py-5">

            <div>

                <!-- Title + prev/next buttons -->
                <div class="d-flex align-items-center justify-content-between pb-4 mb-3">
                    <h2 class="h1 mb-0 me-3">{% trans 'Похожие слоты' %}</h2>
                    <div class="d-flex">
                        <button type="button" id="similar-prev" class="btn btn-prev btn-icon btn-sm me-2"
                                aria-label="Previous">
                            <i class="bx bx-chevron-left"></i>
                        </button>
                        <button type="button" id="similar-next" class="btn btn-next btn-icon btn-sm ms-2"
                                aria-label="Next">
                            <i class="bx bx-chevron-right"></i>
                        </button>
                    </div>
                </div>

                <!-- Courses slider -->
                <div class="swiper swiper-nav-onhover mx-n2" data-swiper-options='{
              "slidesPerView": 1,
              "spaceBetween": 8,
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
              },
              "navigation": {
                "prevEl": "#similar-prev",
                "nextEl": "#similar-next"
              },
              "breakpoints": {
                "560": {
                  "slidesPerView": 2
                },
                "768": {
                  "slidesPerView": 2
                },
                "850": {
                  "slidesPerView": 2
                },
                "1200": {
                  "slidesPerView": 3
                }
              }
            }'>
                    <div class="swiper-wrapper">

                        {% for slot in similar_slots %}
                            <!-- Item -->
                            <div class="swiper-slide h-auto pb-3">
                                <article class="card h-100 border-0 shadow-primary mx-2 text-center card-hover mt-1">
                                    <div class="position-relative">
                                        <a href="{% url 'slot_detail' slug=slot.slug %}"
                                           class="d-block position-absolute w-100 h-100 top-0 start-0"
                                           aria-label="{{ slot.name }}"></a>
                                        {% if slot.users_choice %}
                                            <span class="badge bg-primary position-absolute top-0 start-0 zindex-2 mt-3 ms-3 ">{% trans 'Выбор игроков' %}</span>{% endif %}

                                        <img src="{{ slot.logo.url }}"
                                             class="card-img-top" alt="{{ slot.name }}" loading="lazy">
                                    </div>
                                    <div class="card-body pb-3">
                                        <h3 class="h5 mb-2">
                                            <a href="{% url 'slot_detail' slug=slot.slug %}">{{ slot.name }}</a>
                                        </h3>
                                        <p class="fs-sm mb-2">{{ slot.snippet }}</p>
                                        <a href="{% url 'slot_detail' slug=slot.slug %}"
                                           class="btn btn-primary mt-2 stretched-link">{% trans 'Играть сейчас' %}</a>
                                    </div>
                                    <div class="card-footer d-flex fs-sm text-muted py-3">
                                        <div class="d-flex me-4">
                                            RTP: {{ slot.rtp }}%
                                        </div>
                                        <div class="d-flex ms-auto">
                                            <i class="bx bx-like fs-xl me-1"></i>
                                            {{ slot.rating }}%
                                        </div>
                                    </div>
                                </article>
                            </div>

                        {% endfor %}


                    </div>

                    <!-- Pagination (bullets) -->
                    <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
                </div>
                <a href="{% url 'slot_list' %}" class="btn btn-outline-primary btn-lg w-100 d-md-none mt-3">
                    {% trans 'Все слоты' %}
                    <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Popular slots -->
    <section class="container mt-1 mt-sm-2 py-md-2 py-lg-2">
        <div class="row py-5">

            <div>

                <!-- Title + prev/next buttons -->
                <div class="d-flex align-items-center justify-content-between pb-4 mb-3">
                    <h2 class="h1 mb-0 me-3">{% trans 'Популярные слоты' %}</h2>
                    <div class="d-flex">
                        <button type="button" id="popular-prev" class="btn btn-prev btn-icon btn-sm me-2"
                                aria-label="Previous">
                            <i class="bx bx-chevron-left"></i>
                        </button>
                        <button type="button" id="popular-next" class="btn btn-next btn-icon btn-sm ms-2"
                                aria-label="Next">
                            <i class="bx bx-chevron-right"></i>
                        </button>
                    </div>
                </div>

                <!-- Courses slider -->
                <div class="swiper swiper-nav-onhover mx-n2" data-swiper-options='{
              "slidesPerView": 1,
              "spaceBetween": 8,
              "pagination": {
                "el": ".swiper-pagination",
                "clickable": true
              },
              "navigation": {
                "prevEl": "#popular-prev",
                "nextEl": "#popular-next"
              },
              "breakpoints": {
                "560": {
                  "slidesPerView": 2
                },
                "768": {
                  "slidesPerView": 2
                },
                "850": {
                  "slidesPerView": 2
                },
                "1200": {
                  "slidesPerView": 3
                }
              }
            }'>
                    <div class="swiper-wrapper">

                        {% for slot in popular_slots %}
                            <!-- Item -->
                            <div class="swiper-slide h-auto pb-3">
                                <article class="card h-100 border-0 shadow-primary mx-2 text-center card-hover mt-1">
                                    <div class="position-relative">
                                        <a href="{% url 'slot_detail' slug=slot.slug %}"
                                           class="d-block position-absolute w-100 h-100 top-0 start-0"
                                           aria-label="{{ slot.name }}"></a>
                                        {% if slot.users_choice %}
                                            <span class="badge bg-primary position-absolute top-0 start-0 zindex-2 mt-3 ms-3 ">{% trans 'Выбор игроков' %}</span>{% endif %}

                                        <img src="{{ slot.logo.url }}"
                                             class="card-img-top" alt="{{ slot.name }}" loading="lazy">
                                    </div>
                                    <div class="card-body pb-3">
                                        <h3 class="h5 mb-2">
                                            <a href="{% url 'slot_detail' slug=slot.slug %}">{{ slot.name }}</a>
                                        </h3>
                                        <p class="fs-sm mb-2">{{ slot.snippet }}</p>
                                        <a href="{% url 'slot_detail' slug=slot.slug %}"
                                           class="btn btn-primary mt-2 stretched-link">{% trans 'Играть сейчас' %}</a>
                                    </div>
                                    <div class="card-footer d-flex fs-sm text-muted py-3">
                                        <div class="d-flex me-4">
                                            RTP: {{ slot.rtp }}%
                                        </div>
                                        <div class="d-flex ms-auto">
                                            <i class="bx bx-like fs-xl me-1"></i>
                                            {{ slot.rating }}%
                                        </div>
                                    </div>
                                </article>
                            </div>

                        {% endfor %}


                    </div>

                    <!-- Pagination (bullets) -->
                    <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
                </div>
                <a href="{% url 'slot_list' %}" class="btn btn-outline-primary btn-lg w-100 d-md-none mt-3">
                    {% trans 'Все слоты' %}
                    <i class="bx bx-right-arrow-alt fs-xl ms-2"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}