<!DOCTYPE html>
<html lang="en" class="has-background-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Играйте онлайн прямо сейчас с бонусом!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/style.css'">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" ></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <meta content="Попробуйте свою удачу в игровых автоматах прямо сейчас! Отличные выигрыши и захватывающий геймплей ждут вас. Играйте онлайн и получайте удовольствие от вращения барабанов!" name="description">

    <style>
        .has-background-dark {
            background-color: #1a0e1e !important;
        }

        h2, h1{
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
        }

        strong{
            color: #fff;
        }

        .is-darksalmon, .is-darksalmon:hover {
            background-color: {{ colors.button }};
            border: 0px;
            color: #fff;
        }

        .has-text-light {
            color: {{ colors.text }} !important;
        }

        .has-background-grey {
            background-color: {{ colors.background }} !important;
        }

        .box{
            #border: 2px darksalmon solid;
            #border-radius: 20px;
            #padding: 20px;
        }
    </style>
    <script>
        $(document).ready(function () {

            // Check for click events on the navbar burger icon
            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");

            });

                // Получаем ссылку на кнопку с использованием jQuery
            var $scrollButton = $('.wheretoplay');

            // Добавляем обработчик событий на кнопку
            $scrollButton.on('click', function () {
                // Прокручиваем страницу к месту с анимацией
                $('html, body').animate({
                    scrollTop: $('#wheretoplay').offset().top
                }, 400); // 1000 миллисекунд (1 секунда) - длительность анимации
            });

            var $scrollButton = $('.playdemo');

            // Добавляем обработчик событий на кнопку
            $scrollButton.on('click', function () {
                // Прокручиваем страницу к месту с анимацией
                $('html, body').animate({
                    scrollTop: $('#playdemo').offset().top
                }, 400); // 1000 миллисекунд (1 секунда) - длительность анимации
            });

        });


    </script>

    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(96162480, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/96162480" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WLKH358J');</script>
<!-- End Google Tag Manager -->

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLKH358J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="container">
<nav class="navbar is-black is-spaced has-background-dark has-text-light" role="navigation"
     aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/static/img/logo.svg">
        </a>
        <a class="navbar-item is-hidden-mobile" href="/">
            <h1 class="title is-3 has-text-light">{{ game_info.name }} {{ game_info.version }}</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">


        </div>

        <div class="navbar-end">
            <!-- div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link has-text-light">
                    Разновидности и версии
                </a>

                <div class="navbar-dropdown has-background-dark">


                </div>
            </div-->


            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-darksalmon is-large wheretoplay">
                        Где играть?
                    </a>
                    <a class="button is-success is-large playdemo" alt="{Играть Демо">
                        <strong>Играть демо</strong>
                    </a>

                </div>
            </div>
        </div>
    </div>
</nav>
</div>
<section class="section has-background-dark has-text-light">
    <div class="container">
    <div class="box has-background-dark">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <h1 class="title is-1 has-text-light has-text-weight-bold">{{ name }}</h1>
                <span class="title is-3 has-text-light">Бонус 500% по нашему промокоду</span>
                <div class="buttons mt-4">
                    <a class="button is-success is-large promo-code-button">
                        <span class="promo-label">Промокод</span>:&nbsp;<span class="promo-code-text-button">STOSPIN</span>
                 </a>
                    <a class="button is-darksalmon is-large wheretoplay">Где играть</a>
                </div>
                <span class="title is-5 has-text-light">Провайдер игры: {{ game_info.provider }}</span>
            </div>
            <div class="column">
                <img src="/static/img/wheel.png">
            </div>
        </div>
    </div>
    <div class="box has-background-dark" id="wheretoplay">
        <h2 class="title is-4 has-text-light has-background-dark">Где играть в {{ game_info.name }} {{ game_info.version }}?</h2>

            <div class="columns box has-text-light has-background-grey m-2">
                <div class="column">
                    <span class="title is-5 has-text-light">В официальном приложении {{ game_info.name }} {{ game_info.version }}</span>
                </div>
                <div class="column">
                    <a class="button is-success is-fullwidth">
                    <span class="icon">
                    <i class="fab fa-android"></i>
                    </span><span>Скачать приложение</span></a>
                </div>
            </div>


        {% for casino in casino_info %}
        <div class="columns box as-text-light has-background-grey m-2">
            <div class="column is-two-fifths">
                <img width="200" src="/static/img/casino/{{ casino.img }}">

            </div>
            <div class="column">
                <p class="title has-text-light has-text-centered">Бонус {{ casino.bonus_info }}</p>
                <span class="buttons">

                    <a class="button is-success is-medium promo-code-button is-fullwidth">
                        <span class="promo-label">Промокод</span>:&nbsp;<span class="promo-code-text-button">{{ casino.promocode }}</span>
                    </a>
                        <a class="button is-darksalmon is-medium is-fullwidth">Играть</a>
                    </span>
            </div>
        </div>

        {% endfor %}

    </div>


    <div class="box has-background-dark has-text-light">
        <h2 class="title is-4 has-text-light has-background-dark">Максимальный выигрыш за вчера по нашему промокоду</h2>
        <div class="box has-background-grey has-text-light has-text-centered">
            <img src="/static/img/win.png">
        </div>
    </div>

        <div class="box has-background-dark has-text-light" id="playdemo">
        <h2 class="title is-4 has-text-light has-background-dark">Играть демо в </h2>
        <div class="box has-background-grey has-text-light has-text-centered">
            <div style="position: relative; width: 100%; padding-bottom: 62.5%;">
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
<iframe src="{{ game_info.link_demo }}" frameborder="0" width="100%" height="100%"></iframe>
</div>
</div>
            <a class="button is-success" target="_blank" href="">Открыть в новом окне</a>
        </div>
    </div>

    <div class="box has-background-dark has-text-light">
        <h2 class="title is-4 has-text-light has-background-dark">Символы и коэффициенты в </h2>
        <p class="box has-background-dark has-text-light">The Dog House предлагает вам взглянуть на мир собак с новой стороны, погрузив вас в их уютный и веселый дом. Играйте в этот захватывающий слот и наслаждайтесь атмосферой радости и возможностей. Мы расскажем вам о символах, которые приносят удачу, и как создать выигрышные сочетания в этом уникальном игровом опыте.</p>
        <div class="box has-background-grey has-text-light">
            <div class="columns is-multiline">


                <div class="column is-2">
                    <span class="box has-background-dark has-text-light symbol-block has-text-centered">

            </span>
                </div>


            </div>
        </div>
    </div>

    <div class="box has-background-dark has-text-light is-hidden">
        <h2 class="title is-4 has-text-light has-background-dark">Видеообзор </h2>
        <div class="box has-background-grey has-text-light has-text-centered">
            <div style="position: relative; width: 100%; padding-bottom: 62.5%;">
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            <iframe src="https://www.youtube.com/embed/9KQIqgWfrNg?si=trnl2yq-ZkNtFhgu" title="The Dog House"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
</div>
        </div>
    </div>

            <div class="box has-background-dark has-text-light">




    </div>

       <div class="box has-background-dark has-text-light">
        <h2 class="title is-4 has-text-light has-background-dark">О провайдере {{ game_info.provider }}</h2>
        <p>Pragmatic Play – это ведущий разработчик и поставщик программного обеспечения для онлайн-гемблинга, широко известный своими инновационными и качественными решениями в индустрии азартных игр. Основанная в 2015 году, компания стремится предоставлять уникальный и захватывающий игровой опыт для игроков по всему миру.</p>

<p>Pragmatic Play специализируется на создании разнообразных онлайн-слотов, настольных игр и решений для живых казино. Их портфель включает в себя сотни захватывающих игр с красочной графикой, захватывающими темами и инновационными механиками. От популярных слотов, таких как "Wolf Gold" и "The Dog House", до классических настольных игр, Pragmatic Play предоставляет разнообразие опций для удовлетворения потребностей всех типов игроков.</p>

<p>Компания также известна своими технологическими решениями, такими как уникальные инструменты для управления промоакциями и бонусами, что делает их программное обеспечение привлекательным для операторов онлайн-казино. Pragmatic Play стремится поддерживать высокие стандарты качества и безопасности, предоставляя надежные и инновационные игровые решения для всего игрового сообщества.</p>


    </div>

               <div class="box has-background-dark has-text-light">
        <h2 class="title is-4 has-text-light has-background-dark">Часто ищут</h2>
                   <div class="buttons">

                   <a class="button is-success" href="/{{ inp }}/">{{ inp }}</a>
                   {% endfor %}
                   </div>
    </div>

        </div>
</section>
<script type="text/javascript">
    document.querySelectorAll('.promo-code-button').forEach(function(promoButton) {

  promoButton.addEventListener('click', function() {
    // Копируем текст
    const textToCopy = promoButton.querySelector('.promo-code-text-button').textContent;
    const textarea = document.createElement('textarea');
    textarea.value = textToCopy;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);

    const promoLabel = promoButton.querySelector('.promo-label');
    promoLabel.textContent = "Скопирован";
    setTimeout(function() {
      promoLabel.textContent = "Промокод";
    }, 2000);
  });

  promoButton.addEventListener('mouseenter', function() {
    promoButton.querySelector('.promo-label').textContent = "Копировать";
  });

  promoButton.addEventListener('mouseleave', function() {
    promoButton.querySelector('.promo-label').textContent = "Промокод";
  });
});

</script>

</body>
</html>
