{% load static %}
<!DOCTYPE html>
<html lang="en"
      class="has-background-dark has-navbar-fixed-bottom has-navbar-fixed-top{% for class in random_classes %} {{ class }}{% endfor %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if content.first.is_main %}
        <title>{{ site.slot_name }} - {{ bonuses.first.name|striptags }} - {{ content.first.title }}</title>
    {% else %}
        <title>{{ site.slot_name }} - {{ content.first.title }} - {{ bonuses.first.name|striptags }}</title>
    {% endif %}
    <link rel="stylesheet" href="/static/bulma.min.css">
    <script src="/static/jquery-3.6.4.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}">

    <meta content="{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}."
          name="description">

    {% if content.first.is_main %}
        <link rel="canonical" href="https://{{ site.allowed_domain }}/" />
    {% else %}
        <link rel="canonical" href="https://{{ site.allowed_domain }}/page/{{ content.first.slug }}/" />
    {% endif %}

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ site.slot_name }} - {{ bonuses.first.name|striptags }} - {{ content.first.title }}"/>
    <meta property="og:description" content="{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}."/>

    {% if content.first.is_main %}
        <meta property="og:url" content="https://{{ site.allowed_domain }}/"/>
    {% else %}
        <meta property="og:url" content="https://{{ site.allowed_domain }}/page/{{ content.first.slug }}/"/>
    {% endif %}


    <meta property="og:site_name" content="Играть в игровой слот {{ site.slot_name }} демо и на реальные деньги"/>
    <meta property="og:image" content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="625"/>
    <meta property="og:image:secure_url" content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ site.slot_name }} - {{ bonuses.first.name|striptags }} - {{ content.first.title }}"/>
    <meta name="twitter:description" content="{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}."/>
    <meta name="twitter:image" content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>

    {% if not site.custom_css %}
    <style>
        .has-background-dark, .navbar-item {
            background-color: {{ site.background_color_primary }} !important;
        }

        h2, h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
        }

        strong {
            color: #fff;
        }

        .is-primary, .is-primary:hover {
            background-color: {{ site.primary_color }} !important;
            border: 0px;
            color: #fff;
        }

        .is-secondary, .is-secondary:hover{
            background-color: {{ site.secondary_color }} !important;
            border: 0px;
            color: #fff;
        }

        .has-text-light {
            color: antiquewhite !important;
        }

        .has-background-grey {
            background-color: {{ site.background_color_secondary }} !important;
        }

        .box {
            #border: 2px darksalmon solid;
            #border-radius: 20px;
            #padding: 20px;
        }

        .content {
            overflow-x: auto !important;
        }
    </style>
    {% else %}
        {{ site.custom_css|safe }}
    {% endif %}


    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">


</head>
<body class="has-navbar-fixed-top{% for class in random_classes %} {{ class }}{% endfor %}">

{{ site.counters|safe }}


<div class="container{% for class in random_classes %} {{ class }}{% endfor %}">
    <nav class="navbar is-black is-spaced has-background-dark has-text-light is-fixed-top" role="navigation"
         aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <figure class="image">
                    <img class="image" src="{% if site.logo %}{{ site.logo.url }}{% endif %}" alt="{{ site.slot_name }}" title="{{ site.slot_name }}">
                </figure>
            </a>
            <a class="navbar-item" href="/">
                <h2 class="title is-3 has-text-light is-size-7-mobile">{{ site.slot_name }}
                </h2>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasic"
             class="navbar-menu has-background-dark{% for class in random_classes %} {{ class }}{% endfor %}">
            <div class="navbar-start">


            </div>

            <div class="navbar-end has-background-dark">


                <div class="navbar-item has-background-dark{% for class in random_classes %} {{ class }}{% endfor %}">
                    <div class="buttons has-background-dark{% for class in random_classes %} {{ class }}{% endfor %}">
                        <a class="button is-primary is-large " href="/go/{{ bonuses.first.redirect.name }}/">
                            Где играть?
                        </a>
                        <a class="button is-secondary is-large playdemo" alt="Играть Демо в {{ site.slot_name }}">
                            <strong>Играть демо</strong>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar is-fixed-bottom has-background-dark is-hidden-desktop" >
        <div class="m-auto navbar-item has-background-dark{% for class in random_classes %} {{ class }}{% endfor %}">
                    <div class="buttons is-centered has-background-dark{% for class in random_classes %} {{ class }}{% endfor %}">
                        <a class="button is-secondary playdemo" alt="Играть Демо в {{ site.slot_name }}">
                            Играть демо
                        </a>
                        <a class="button is-primary " href="/go/{{ bonuses.first.redirect.name }}/">
                            <strong>Где играть?</strong>
                        </a>
                    </div>
                </div>
    </nav>
</div>

<section
        class="section has-background-dark has-text-light p-2{% for class in random_classes %} {{ class }}{% endfor %}">
    <div class="container">
        <div class="box has-background-dark">
            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title is-1 has-text-light has-text-weight-bold">{{ content.first.title }}</h1>
                    <span class="title is-3 has-text-light">{{ bonuses.first.name|safe }} по нашему промокоду</span>
                    <div class="buttons mt-4{% for class in random_classes %} {{ class }}{% endfor %}">
                        <a class="button is-secondary is-large promo-code-button">
                            <span class="promo-label">Промокод</span>:&nbsp;<span
                                class="promo-code-text-button">{{ bonuses.first.promo_code }}</span>
                        </a>
                        <a class="button is-primary is-large" href="/go/{{ bonuses.first.redirect.name }}/">Где играть</a>
                    </div>
                    <span class="title is-5 has-text-light">Провайдер игры: {{ site.provider_name }}</span>
                </div>
                <div class="column{% for class in random_classes %} {{ class }}{% endfor %}">
                    <figure class="image">
                        <img src="{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}" alt="{{ site.slot_name }}" title="{{ site.slot_name }}"
                             class="image{% if site.hero_image_is_rounded %} is-rounded{% endif %}">
                    </figure>
                </div>
            </div>
        </div>
        <div class="box has-background-dark p-3" id="wheretoplay">
            <h2 class="title is-4 has-text-light has-background-dark">Где играть в {{ site.slot_name }}?</h2>




        {% for bonus in bonuses %}
            <div class="columns box as-text-light has-background-grey m-2{% for class in random_classes %} {{ class }}{% endfor %}">
                <div class="column is-two-fifths">
                    <img width="300" src="{% if bonus.casino.logo %}{{ bonus.casino.logo.url }}{% endif %}">

                </div>
                <div class="column{% for class in random_classes %} {{ class }}{% endfor %}">
                    <p class="title has-text-light has-text-centered is-4">{{ bonus.name|safe }}</p>
                    <span class="buttons">

                        <a class="button is-secondary  promo-code-button is-fullwidth">
                            <span class="promo-label">Промокод</span>:&nbsp;<span
                                class="promo-code-text-button">{{ bonus.promo_code }}</span>
                        </a>
                            <a class="button is-primary is-fullwidth"
                               href="/go/{{ bonus.redirect.name }}/">Играть</a>
                        </span>
                </div>
            </div>
        {% endfor %}
        </div>




        {% if site.promo_image %}
            <div class="box has-background-dark has-text-light p-2">
                <h2 class="title is-4 has-text-light has-background-dark">Максимальный выигрыш в слот {{ site.slot_name }} по нашему промокоду</h2>
                <div class="box has-background-grey has-text-light has-text-centered m-1 p-3{% for class in random_classes %} {{ class }}{% endfor %}">
                    <img loading="lazy" src="{{ site.promo_image.url }}" title="Максимальный выигрыш в слот {{ site.slot_name }} по нашему промокоду" alt="Максимальный выигрыш в слот {{ site.slot_name }} по нашему промокоду" loading="lazy">
                </div>
            </div>
        {% endif %}

        {% if site.demo %}
            <div class="box has-background-dark has-text-light m-0 p-2{% for class in random_classes %} {{ class }}{% endfor %}"
                 id="playdemo">
                <h2 class="title is-4 has-text-light has-background-dark">Играть демо в {{ site.slot_name }}</h2>
                <div class="box has-background-grey has-text-light {% for class in random_classes %} {{ class }}{% endfor %}">

                    <div style="position: relative; width: 100%; padding-bottom: 62.5%;">
                        <div style="background-color:{{ site.background_color_primary }}; position: absolute; top: 0; left: 0; width: 100%; height: 100%; {% if site.interface_image %}background-image: url('{{ site.interface_image.url }}') ; background-repeat: no-repeat; background-size: cover; {% endif %}"
                             id="iframeContainer">
                            <button class="button is-secondary is-large" id="loadIframeBtn"
                                    style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                                    <span class="icon">
                                        <i class="fa fa-play"></i>
                                    </span>
                                <span>Играть демо</span>
                            </button>
                        <a style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" target="_blank"
                               href="/go/{{ bonuses.first.redirect.name }}/"></a>
                        </div>

                    </div>
                    <div class="has-text-centered">
                        <a class="button is-primary mt-3" target="_blank" href="/go/{{ bonuses.first.redirect.name }}/">Открыть в новом окне</a>
                    </div>


                    <div style="position: relative; width: 100%; padding-bottom: 62.5%;" class="is-hidden">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                            <iframe src="{{ site.demo }}" frameborder="0" width="100%" height="100%" loading="lazy"></iframe>
                        </div>
                    </div>

                </div>



            </div>
        {% endif %}

        {% if symbols %}
            <div class="box has-background-dark has-text-light m-1 p-4{% for class in random_classes %} {{ class }}{% endfor %}">
                <h2 class="title is-4 has-text-light has-background-dark">Символы и коэффициенты
                    в {{ site.slot_name }} </h2>

                <div class="box has-background-grey has-text-light p-1">

                    <div class="table-container">
                      <table class="table has-background-grey p-1">
                          <tr>
                            {% for symbol in symbols %}
                                <td class="p-1">
                                    <span class="box has-background-dark has-text-light symbol-block has-text-centered is-size-7">
                                        <img loading="lazy" src="{{ symbol.image.url }}" title="Символ {% if symbol.name %}{{ symbol.name }} {% else %}№{{ symbol.sorting_order }} {% endif %}слота {{ site.slot_name }}" alt="Символ {% if symbol.name %}{{ symbol.name }} {% else %}№{{ symbol.sorting_order }} {% endif %}слота {{ site.slot_name }}" style="min-width: 150px !important;">
                                        <p class="is-size-7">{{ symbol.info|safe }}</p>
                                    </span>
                                </td>
                            {% endfor %}
                          </tr>
                      </table>
                    </div>

                </div>
            </div>
        {% endif %}

        <div class="box has-background-dark has-text-light{% for class in random_classes %} {{ class }}{% endfor %}">
            <h2 class="title is-4 has-text-light has-background-dark">Популярные страницы</h2>
            <div class="buttons">

                {% for page in inner_pages %}
                    <a class="button is-secondary is-small{% for class in random_classes %} {{ class }}{% endfor %}"
                       href="/page/{{ page.slug }}/">{{ page.title }}</a>
                {% endfor %}

            </div>
        </div>

        <div class="box has-background-light content m-2{% for class in random_classes %} {{ class }}{% endfor %}">
            <h2>{{ content.first.title }}</h2>
            {{ content.first.text|safe }}

            {% if faqs %}
                <!-- faq block -->

                <h2 id="faq">FAQ по слоту {{ site.slot_name }}</h2>

                <div id="accordion">
                    {% for faq in faqs %}
                        <h3>{{ faq.question }}</h3>

                        <p>{{ faq.answer }}</p>
                    {% endfor %}

                </div><p><a href="#tableofcontents">К оглавлению</a></p>

                <!-- end of faq block -->
            {% endif %}

            {% if site.author %}
                        <hr>
                <p>Материал проверен экспертом сайта <b>{{ site.allowed_domain|upper }}</b>:</p>
                        <div class="box">
                            <div class="columns">
                                <div class="column is-one-fifth">

                                    <figure class="image is-96x96 m-auto">
                                        <img class="is-rounded"
                                                src="{{ site.author.photo.url }}"
                                                alt="{{ site.author.position }} {{ site.allowed_domain|upper }}"
                                        />
                                    </figure>
                                </div>
                                <div class="column is-one-quarter">
                                    <p class="title is-5">{{ site.author.name }}</p>
                                    <p class="subtitle is-6">{{ site.author.position }} {{ site.allowed_domain|upper }}</p>
                                </div>
                                <div class="column">
                                    <p class="subtitle is-6">{{ site.author.short_bio }}</p>
                                </div>
                            </div>
                        </div>



                    {% endif %}


        </div>

        {% if images %}
            <div class="box has-background-dark has-text-light m-1 p-4{% for class in random_classes %} {{ class }}{% endfor %}">
                <h2 class="title is-4 has-text-light has-background-dark">Игровой интерфейс
                     {{ site.slot_name }} </h2>

                <div class="box has-background-grey has-text-light">
                    <div class="columns is-multiline">
                        {% for image in images %}
                            <div class="column is-6">
                                <span class="box has-background-dark has-text-light symbol-block has-text-centered">
                                    <img loading="lazy" src="{{ image.image.url }}" alt="{{ image.title }}" title="{{ image.title }}">
                                    <h3>{{ image.description|safe }}</h3>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="box has-background-dark p-4 m-1" id="wheretoplay">
            <h2 class="title is-4 has-text-light has-background-dark">Где играть в {{ site.slot_name }}?</h2>




        {% for bonus in bonuses %}
            <div class="columns box as-text-light has-background-grey m-2{% for class in random_classes %} {{ class }}{% endfor %}">
                <div class="column is-two-fifths">
                    <img width="300" src="{% if bonus.casino.logo %}{{ bonus.casino.logo.url }}{% endif %}">

                </div>
                <div class="column{% for class in random_classes %} {{ class }}{% endfor %}">
                    <p class="title has-text-light has-text-centered is-4">{{ bonus.name|safe }}</p>
                    <span class="buttons">

                        <a class="button is-secondary  promo-code-button is-fullwidth">
                            <span class="promo-label">Промокод</span>:&nbsp;<span
                                class="promo-code-text-button">{{ bonus.promo_code }}</span>
                        </a>
                            <a class="button is-primary is-fullwidth"
                               href="/go/{{ bonus.redirect.name }}/">Играть</a>
                        </span>
                </div>
            </div>
        {% endfor %}
        </div>


        <div class="box has-background-dark has-text-light m-1{% for class in random_classes %} {{ class }}{% endfor %}">
            <h2 class="title is-4 has-text-light has-background-dark">Часто ищут</h2>
            <div class="buttons">

                {% for page in inner_pages %}
                    <a class="button is-secondary is-small{% for class in random_classes %} {{ class }}{% endfor %}"
                       href="/page/{{ page.slug }}/">{{ page.title }}</a>
                {% endfor %}
            {% if site.tlg_link %}
                <a class="button is-secondary is-small{% for class in random_classes %} {{ class }}{% endfor %}"
                   href="{{ site.tlg_link }}/">Telegram
                    канал {{ site.slot_name }}</a>
            {% endif %}
            </div>
        </div>
    <footer>
        <div class="box  has-text-centered has-background-dark has-text-light m-1{% for class in random_classes %} {{ class }}{% endfor %}">
<div class="is-size-7 has-text-centered">
                    <h3 class="title is-4 has-text-light has-background-dark">
                        {{ site.allowed_domain|upper }}
                    </h3>
                    Сайт использует IP адреса, сookie и данные геолокации пользователей сайта. Условия использования содержатся в <a href="/page/privacy-policy/">Политике конфиденциальности</a> и <a href="/page/terms/">Правилах сайта</a><br />
                    <span class="is-size-3">18+</span><br />
                    Данный портал предназначен для ознакомления только для лиц, достигших возраста 18 лет. Мы не рекламируем услуги онлайн-казино. Сайт {{ site.allowed_domain|upper }} носит исключительно информационный характер и не пропагандирует азартные игры среди несовершеннолетних граждан.<br />
                    Администрация сайта {{ site.allowed_domain|upper }} не несет никакой ответственности за ознакомление с материалами лицами, не достигшими восемнадцатилетнего возраста. Любой контент, представленный на страницах сайта {{ site.allowed_domain|upper }}, является исключительно информационным.


                <p>Полное или частичное копирование материалов сайта {{ site.allowed_domain|upper }} возможно только с письменного разрешения редакции. По вопросам сотрудничества обращайтесь через <a href="/page/feedback/"> форму обратной связи</a> или по электронной почте <a href="mailto:info@{{ site.allowed_domain }}">info@{{ site.allowed_domain }}</a>.</p>

                <p>Любой контент, размещаемый на страницах сайта {{ site.allowed_domain|upper }}, регулярно обновляется и поддерживается в актуальном
                    состоянии. Пользуйтесь только проверенными источниками информации.</p>
                <p>Сайт {{ site.allowed_domain|upper }} носит исключительно информационный характер и не принимает денежных платежей со стороны
                    пользователей.</p>
                <p>Азартные игры должны расцениваться как развлечение, а не как способ заработка. Чрезмерное увлечение может
                    привести к стремительному развитию <a href="/page/ludomania/">игровой зависимости</a>, играйте <a href="/page/otvetstvennaya-igra/">ответственно</a>. </p>
            </div>
            <div class="is-size-7 has-text-centered">
                {% for res in gambling_resources %}
                    <a href="{{ res.url }}" target="_blank" rel="nofollow"><img src="{{ res.logo.url }}" alt="{{ res.name }}" title="{{ res.name }}" /></a>
                {% endfor %}
            </div>

        </div>


    </footer>

    </div>
</section>

{% if accepted_answer %}
    <script type="application/ld+json"> {
 "@context": "http://schema.org",
 "@type": "QAPage",
 "mainEntity": {
 "@type": "Question",
 "name": "Gates of Olympus",
 "text": "{{ accepted_answer.question }}",
 "answerCount": "1",
 "dateCreated": "2024-02-02",
 "author": {
 "@type": "Person",
 "name": "Peter Green"
 },
 "acceptedAnswer": {
 "@type": "Answer",
 "text": "{{ accepted_answer.answer }}",
 "dateCreated": "2024-02-02",
 "upvoteCount": "567",
 "url": "https://gatesofolympus.best/",
 "author": {
 "@type": "Person",
 "name": "Alex Brown"
 }
 }
 }
}
    </script>
{% endif %}

{% if faqs %}
    <script type="application/ld+json"> {
 "@context": "https://schema.org",
 "@type": "FAQPage",
 "mainEntity": [{% for faq in faqs %}{
 "@type": "Question",
 "name": "{{ faq.question }}",
 "acceptedAnswer": {
 "@type": "Answer",
 "text": "{{ faq.answer }}"
 }
 }{% if not forloop.last %}{% endif %}
{% endfor %}]
}
    </script>
{% endif %}

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "VideoGame",
            "name": "{{ site.slot_name }}",
            "image": "https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}",
            "description": "{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}.",
            "applicationCategory": "Game",
            "applicationSubcategory": "Slot Machine",
            "operatingSystem": "Multi-platform",
            "author": {
                "@type": "Organization",
                "name": "{{ site.allowed_domain|upper }}"
            }
        }
    </script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "@id": "https://{{ site.allowed_domain }}/#organization",
            "name": "{{ content.first.title }}",
            "url": "https://{{ site.allowed_domain }}/",
            "logo": {
                "@type": "ImageObject",
                "url": "https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}",
                "width": "360",
                "height": "360"
            },
            "brand": "{{ site.allowed_domain|upper }}"
        }
    </script>

<script type="text/javascript">
    document.querySelectorAll('.promo-code-button').forEach(function (promoButton) {

        promoButton.addEventListener('click', function () {
            // Копируем текст
            const textToCopy = promoButton.querySelector('.promo-code-text-button').textContent;
            const textarea = document.createElement('textarea');
            textarea.value = textToCopy;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);

            const promoLabel = promoButton.querySelector('.promo-label');
            promoLabel.textContent = "Скопирован";
            setTimeout(function () {
                promoLabel.textContent = "Промокод";
            }, 2000);
        });

        promoButton.addEventListener('mouseenter', function () {
            promoButton.querySelector('.promo-label').textContent = "Копировать";
        });

        promoButton.addEventListener('mouseleave', function () {
            promoButton.querySelector('.promo-label').textContent = "Промокод";
        });
    });

</script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });

        // Получаем ссылку на кнопку с использованием jQuery
        var $scrollButton = $('.wheretoplay');

        // Добавляем обработчик событий на кнопку
        $scrollButton.on('click', function () {
            // Прокручиваем страницу к месту с анимацией
            $('html, body').animate({
                scrollTop: $('#wheretoplay').offset().top
            }, 400); // 1000 миллисекунд (1 секунда) - длительность анимации
        });

        var $scrollButton = $('.playdemo');

        // Добавляем обработчик событий на кнопку
        $scrollButton.on('click', function () {
            // Прокручиваем страницу к месту с анимацией
            $('html, body').animate({
                scrollTop: $('#playdemo').offset().top
            }, 400); // 1000 миллисекунд (1 секунда) - длительность анимации
        });

    });


</script>


</body>
</html>
