{% load static %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    {% if content.first.is_main %}
        <title>{{ content.first.title|upper }} - {{ bonuses.first.name|striptags }} - Слот от {{ site.provider_name }}</title>
    {% else %}
        <title>{{ site.slot_name|upper }} - {{ content.first.title }} - {{ bonuses.first.name|striptags }} - Слот
            от {{ site.provider_name }}</title>
    {% endif %}

    <!-- SEO Meta Tags -->
   <meta content="{{ content.first.description }}" name="description">
   <meta name="keywords" content="{{ content.first.keywords }}">
   <meta name="author" content="{{ site.allowed_domain|upper }}">

    {% if content.first.is_main %}
        <link rel="canonical" href="https://{{ site.allowed_domain }}/"/>
    {% else %}
        <link rel="canonical" href="https://{{ site.allowed_domain }}/page/{{ content.first.slug }}/"/>
    {% endif %}

    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="{{ site.slot_name|upper }} - {{ bonuses.first.name|striptags }} - {{ content.first.title }}"/>
    <meta property="og:description"
          content="{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}."/>

   {% if content.first.is_main %}
        <meta property="og:url" content="https://{{ site.allowed_domain }}/"/>
    {% else %}
        <meta property="og:url" content="https://{{ site.allowed_domain }}/page/{{ content.first.slug }}/"/>
    {% endif %}

    <meta property="og:site_name" content="Играть в игровой слот {% if content.first.is_version_page %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %} демо и на реальные деньги"/>
    <meta property="og:image"
          content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>
    <meta property="og:image:width" content="1000"/>
    <meta property="og:image:height" content="625"/>
    <meta property="og:image:secure_url"
          content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="{{ site.slot_name }} - {{ bonuses.first.name|striptags }} - {{ content.first.title }}"/>
    <meta name="twitter:description"
          content="{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}."/>
    <meta name="twitter:image"
          content="https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}"/>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <!-- Theme switcher (color modes) -->#}
{#    <script src="/static/scon/assets/js/theme-switcher.js"></script>#}

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}">
    <link rel="manifest" href="/static/scon/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}" color="#6366f1">
    <link rel="shortcut icon" href="{% if site.favicon %}{{ site.favicon.url }}{% endif %}">
    <meta name="msapplication-TileColor" content="#C475CC">
    <meta name="msapplication-config" content="/static/scon/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#C475CC">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="/static/scon/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" media="screen" href="/static/scon/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" media="screen" href="/static/scon/assets/vendor/lightgallery/css/lightgallery-bundle.min.css">

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="/media/{{ site.css_file }}">

    <!-- Page loading styles -->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }

        [data-bs-theme="dark"] .page-loading {
            background-color: #0b0f19;
        }

        .page-loading.active {
            opacity: 1;
            visibility: visible;
        }

        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }

        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }

        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #9397ad;
        }

        [data-bs-theme="dark"] .page-loading-inner > span {
            color: #fff;
            opacity: .6;
        }

        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #b4b7c9;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }

        [data-bs-theme="dark"] .page-spinner {
            border-color: rgba(255, 255, 255, .4);
            border-right-color: transparent;
        }

        @-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .content {
            position: relative;
            height: 350px;
            overflow: hidden;
            transition: height 0.3s ease;
        }
        .gradient-block{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #581C5A, rgba(22, 15, 29, 0));
            z-index: 1;
        }
        /* Для вебkit-браузеров (Chrome, Safari) */
        ::-webkit-scrollbar {
            width: 5px; /* Ширина вертикального скролла */
            height: 5px; /* Высота горизонтального скролла */
        }

        ::-webkit-scrollbar-thumb {
            background-color: #581C5A; /* Цвет ползунка */
            border-radius: 2px; /* Закругление углов ползунка */
        }

        ::-webkit-scrollbar-track {
            background: #5E2460; /* Цвет фона скролла */
        }

        ::-webkit-scrollbar-button {
            display: none; /* Скрыть кнопки (стрелки) */
        }

        /* Для Firefox */
        .scrollable {
            scrollbar-width: thin; /* Установка ширины скролла */
            scrollbar-color: #581C5A #5F2560; /* Цвет ползунка и фона */
        }

    </style>

</head>


<!-- Body -->
<body>

{{ site.counters|safe }}


<!-- Page wrapper for sticky footer -->
<!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
<main class="page-wrapper">


    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header class="header navbar navbar-expand-lg position-absolute navbar-sticky">
        <div class="container px-3">
            <a href="/" class="navbar-brand pe-3">
                <img src="{% if site.logo %}{{ site.logo.url }}{% endif %}" width="147"
                     alt="{{ site.slot_name }}">
{#                <span class="d-none d-md-block px-3">{{ site.slot_name }}</span>#}

            </a>
            <div id="navbarNav" class="offcanvas offcanvas-end">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title">Меню</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Версии игры</a>
                            <div class="dropdown-menu" style="min-width:300px !important;">
                                <div class="d-lg-flex pt-lg-3">
                                    <div class="mega-dropdown-column">
                                        <ul class="list-unstyled mb-3">
                                            {% for page in version_pages %}
                                                <li><a href="/page/{{ page.slug }}/" class="dropdown-item py-1">{{ page.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-header border-top">
                    <span data-target="_blank" data-href="/go/{{ bonuses.first.redirect.name }}/" type="button"
                          class="btn btn-primary w-100 btn-lg shadow-primary hl">
                        <i class="bx bx-money fs-4 lh-1 me-1"></i>
                        &nbsp; Бездепозитный бонус 100 FS
                    </span>
                </div>
            </div>
            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#play-game" class="btn btn-primary btn-lg rounded d-none d-lg-inline-flex" rel="noopener" data-scroll>
                <i class="bx bx-play fs-5 lh-1 me-1"></i>
                &nbsp;Играть сейчас
            </a>
        </div>
    </header>


    <!-- Hero section -->
    <section class="position-relative pt-5 overflow-hidden">
        <span class="position-absolute top-0 start-0 d-dark-mode-none d-block w-100 h-100 bg-secondary"></span>
        <span class="position-absolute top-0 start-0 d-dark-mode-block d-none w-100 h-100"
              style="background: radial-gradient(84.79% 172.9% at 73.31% 31.4%, rgba(99, 135, 241, .1) 0%, rgba(218, 70, 239, .05) 52.47%, rgba(99, 135, 241, .1) 100%);">
          <span class="d-block w-100 h-100 bg-position-center bg-size-cover bg-repeat-0"
                style="background-image: url(/static/scon/assets/img/landing/saas-4/hero-bg.webp);"></span>
        </span>
        <div class="container position-relative mt-5 pt-xl-5 pt-md-3 zindex-5">
            <div class="row justify-content-md-start justify-content-center flex-md-nowrap pt-lg-5 pt-4">
                <div class="col-xl-5 col-md-6 col-sm-10 d-flex flex-column justify-content-between mb-md-5 mb-md-4 mb-3 pb-xl-5 pb-lg-4">
                    <div class="text-md-start text-center">
                        <h1 class="{% if content.first.is_version_page %}display-3{% else %}display-1{% endif %} mb-lg-4 mb-3">{% if content.first.is_version_page %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %}</h1>
{#                        <p class="mb-4 mx-md-0 mx-auto pb-xl-3 pb-lg-2 fs-lg" style="max-width: 30.5rem;">Играй демо и на реальные деньги#}
{#                            прямо сейчас!</p>#}
                        <h2 class="mb-4 mx-md-0 mx-auto pb-xl-3 pb-lg-2" style="max-width: 30.5rem;"><b>{{ bonuses.first.name|safe }}</b></h2>
                        <button class="btn btn-lg btn-info me-md-2 mb-2 promo-code-button">
                            <span class="promo-label">Промокод</span>:&nbsp;<span
                                class="promo-code-text-button">{{ bonuses.first.promo_code }}</span>
                        </button>
                        <a href="#play-game" class="btn btn-lg btn-primary mb-2" data-scroll>Играть сейчас</a>
                    </div>
                    <ul class="ms-5 ms-md-1 list-unstyled row row-cols-1 gy-sm-2 gy-1 gx-sm-4 gx-2 mt-lg-5 mt-4 mx-md-0 mx-auto pt-lg-0 pt-md-2 mb-md-5 mb-5 pb-xl-4 pb-lg-3 pb-md-2 pb-sm-0 pb-2 text-nowrap"
                        style="max-width: 23.625rem;">
                        <li class="col d-flex align-items-start">
                            <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
                            Надежный провайдер
                        </li>
                        <li class="col d-flex align-items-start">
                            <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
                            Популярный слот
                        </li>
                        <li class="col d-flex align-items-start">
                            <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
                            RTP {{ site.slot_rtp }}%
                        </li>
                        <li class="col d-flex align-items-start">
                            <i class="bx bx-check-circle me-2 fs-5 text-primary"></i>
                            Проверенные партнеры
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 offset-xl-1 d-flex mt-lg-4 mb-4">
                    <div class="d-none d-md-flex align-self-end ms-xl-0 ms-md-4 p-lg-4 p-sm-3 p-2 rounded-4 overflow-hidden"
                         style="background: linear-gradient(153.32deg, rgba(255, 255, 255, .3) -65.62%, rgba(255, 255, 255, .1) 83.28%); box-shadow: 0 .25rem 1.5rem -.0625rem rgba(0, 0, 0, .2); backdrop-filter: blur(25px);">
                        <img src="{% if site.interface_image %}{{ site.interface_image.url }}{% endif %}" width="1122"
                             alt="Layer" class="rounded-4" style="box-shadow: 0 0 7.5rem rgba(0, 0, 0, .1);">
                    </div>
                </div>
            </div>
        </div>
        <span class="position-absolute bottom-0 start-0 w-100">
          <span class="d-dark-mode-none d-block w-100 h-100 py-xl-5 pt-lg-4 pt-md-0 pt-4 pb-5 bg-light"></span>
          <span class="d-dark-mode-block d-none w-100 h-100 py-xl-5 pt-lg-4 pt-md-0 pt-4 pb-5 bg-dark"></span>
        </span>
    </section>


    <!-- Play Game -->
    <section class="container mt-1 pt-3 pb-1" id="play-game">
        <h2 class="h1 mt-xl-3 mb-4 pb-3 text-center">Играть в {% if content.first.demo %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %}</h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs flex-nowrap justify-content-sm-center overflow-auto mb-lg-4 mb-3 pb-md-3 pb-2 text-nowrap"
            role="tablist">
            <li class="nav-item">
                <a href="#play-demo" class="nav-link active" data-bs-toggle="tab" role="tab">
                    <i class="bx bx-game opacity-60 me-2 fs-lg"></i>
                    Демо
                </a>
            </li>
            <li class="nav-item">
                <a href="#play-real" class="nav-link" data-bs-toggle="tab" role="tab">
                    <i class="bx bx-money opacity-60 me-2 fs-lg"></i>
                    На реальные деньги
                </a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mb-3 py-1 bg-secondary rounded-3">

            <!-- Play Demo -->
            <div class="tab-pane fade show active" id="play-demo" role="tabpanel">
                <div class="align-items-center pt-2 pt-sm-4 pt-md-0 px-1 px-sm-4 px-lg-0 m-lg-5 m-2 mb-4 text-center">

                    <h3 class="h1 mb-lg-4 mb-3">Демо-игра в {% if content.first.demo %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %}</h3>
{#                    <img src="{% if site.interface_image %}{{ site.interface_image.url }}{% endif %}"#}
{#                         class="d-block my-lg-4 mb-3 mx-auto me-md-0 rounded-4" alt="Image">#}
{#                    <a href="/go/{{ bonuses.first.redirect.name }}/" class="btn btn-secondary">Открыть в новом окне</a>#}

                    <div style="position: relative; width: 100%; padding-bottom: 62.5%;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                             class="shadow-primary rounded-3 overflow-hidden">
                            <iframe id="iframe" allowfullscreen="true" tabindex="0" frameborder="0" scrolling="no"
                                    width="100%" height="100%"
                                    src="{% if content.first.demo %}{{ content.first.demo|safe }}{% else %}{{ site.demo|safe }}{% endif %}"
                                    style="border:none;"></iframe>
                        </div>
                     </div>

                    <span data-target="_blank" data-href="/go/{{ bonuses.first.redirect.name }}/" class="mt-3 btn btn-primary shadow-primary ms-2 hl">Бездепозитный бонус 100 FS</span>

                </div>
            </div>

            <!-- Play Real Money -->
            <div class="tab-pane fade" id="play-real" role="tabpanel">
                <div class="align-items-center pt-3 pt-sm-4 pt-md-0 px-3 px-sm-4 px-lg-0 m-lg-5 m-2 text-center">
                    <!-- Title -->
                    <div class="row justify-content-center text-center pb-4 mb-2">
                        <div class="col-xl-8 pt-2">
                            <h2 class="h1 mb-lg-4 mb-3">Играйте на реальные деньги у наших партнеров</h2>
                            <p class="text-body mb-0">Мы подобрали для Вас лучшие предложения от наших партнеров.
                                Регистрируйтесь по ссылкам и используйте промокоды, чтобы получить бонусы.</p>
                        </div>
                    </div>

                    <!-- Table -->
                    <div class="d-sm-flex flex-wrap d-lg-table w-100">

                        {% for bonus in bonuses %}
                        <!-- Row -->
                        <div class="d-lg-table-row w-sm-50 w-lg-100 pe-sm-3 pe-lg-0 mb-3 mb-lg-0">
                            <div class="d-lg-table-cell align-middle border-bottom py-3 py-lg-4" style="min-height:70px;">
                                <div class="d-flex align-items-center">
                                    <img src="{% if bonus.casino.logo_svg %}{{ bonus.casino.logo_svg.url }}{% endif %}" width="164"
                                         alt="{{ bonus.casino.display_name }}" class="mx-auto mx-md-0">
{#                                    <div class="ps-3">#}
{#                                        <h3 class="h4 mb-0">{{ bonus.casino.display_name }}</h3>#}
{#                                    </div>#}
                                </div>
                            </div>
                            <div class="d-lg-table-cell align-middle fs-lg border-bottom py-3 py-lg-4">
                                {{ bonus.name|safe }}
                            </div>

                            <div class="d-lg-table-cell align-middle border-bottom-lg text-lg-end pt-2 pb-3 py-lg-4">
                                <a type="button" class="promo-code-button btn btn-sm btn-info fs-sm w-100 w-lg-auto my-1">
                                    <span class="promo-label">Промокод</span>:&nbsp;<span
                                    class="promo-code-text-button">{{ bonus.promo_code }}</span>
                                </a>
                                <span data-target="_blank" data-href="/go/{{ bonuses.first.redirect.name }}/" type="button" class="btn btn-sm btn-primary fs-sm w-100 w-lg-auto my-1 hl">Играть
                                </span>
                            </div>
                        </div>
                        {% endfor %}



                    </div>
                </div>

            </div>
        </div>
    </section>

    {% if symbols %}
        <!-- Symbols -->
        <section class="pt-0">
            <div class="container pt-0">
                <h2 class="h1 mt-xl-3 pb-3 text-center my-3">Символы и коэффициенты {{ site.slot_name }}</h2>

                <!-- Stats -->
                <div class="pb-0 pt-0">
                    <div class="swiper pb-1 mx-n2" data-swiper-options='{
                  "slidesPerView": 2,
                  "pagination": {
                    "el": ".swiper-pagination",
                    "clickable": true
                  },
                  "breakpoints": {
                    "500": {
                      "slidesPerView": 3,
                      "spaceBetween": 8
                    },
                    "650": {
                      "slidesPerView": 4,
                      "spaceBetween": 8
                    },
                    "900": {
                      "slidesPerView": 5,
                      "spaceBetween": 8
                    },
                    "1100": {
                      "slidesPerView": 7,
                      "spaceBetween": 8
                    }
                  }
                }'>
                        <div class="swiper-wrapper">

                            {% for symbol in symbols %}
                            <!-- Item -->
                            <div class="swiper-slide h-auto py-1">
                                <div class="card border-0 shadow h-100 text-center text-sm-start p-0 mx-1">
                                    <div class="card-body align-middle">
                                        <img src="{{ symbol.image.url }}"
                                             style="filter: drop-shadow(0px 0.8645132780075073px 4.602016925811768px rgba(99, 102, 241, 0.02)) drop-shadow(0px 2.9037201404571533px 10.33138370513916px rgba(99, 102, 241, 0.05)) drop-shadow(0px 13px 27px rgba(99, 102, 241, 0.17));"
                                             alt="Символ {% if symbol.name %}{{ symbol.name }} {% else %}№{{ symbol.sorting_order }} {% endif %}слота {{ site.slot_name }}">

                                        <div class="scrollable mb-0 fs-xs d-block align-middle overflow-y-scroll" style="max-height:110px;">
                                            {{ symbol.info|safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}



                        </div>

                        <!-- Pagination (bullets) -->
                        <div class="swiper-pagination position-relative pt-2 mt-4"></div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <!-- Story -->
    <section class="container mb-3 pt-md-1 pt-lg-2 pt-xl-5">
        <div class="mt-2 py-2 pb-sm-3 pb-md-4 pb-lg-5 mx-auto" style="max-width: 46.625rem;">
            <h1 class="h1 mb-4">
                      <span class="text-primary">
                          {{ content.first.title }}
                      </span>
            </h1>
            <div class="content">
                {{ content.first.text|safe }}
                <div class="gradient-block"></div>
            </div>
            <button class="btn btn-outline-primary btn-lg w-100 mt-3" id="showText">
                Читать полностью
                <i class="bx bx-down-arrow-alt fs-xl ms-2" id="showMoreArrow"></i>
            </button>
        </div>
    </section>

{% if images %}
    <section class="container mb-3 pt-1">
<!-- Gallery inside carousel -->
<div class="position-relative px-md-5">
  <button type="button" id="prev" class="btn btn-prev btn-icon btn-sm position-absolute top-50 translate-middle-y start-0 d-none d-md-inline-flex mt-n4" aria-label="Previous">
    <i class="bx bx-chevron-left"></i>
  </button>
  <button type="button" id="next" class="btn btn-next btn-icon btn-sm position-absolute top-50 translate-middle-y end-0 d-none d-md-inline-flex mt-n4" aria-label="Next">
    <i class="bx bx-chevron-right"></i>
  </button>
  <div class="swiper pt-1" data-swiper-options='{
    "slidesPerView": 1,
    "spaceBetween": 20,
    "loop": true,
    "pagination": {
      "el": ".swiper-pagination",
      "clickable": true
    },
    "navigation": {
      "prevEl": "#prev",
      "nextEl": "#next"
    },
    "breakpoints": {
      "500": {
        "slidesPerView": 2,
        "spaceBetween": 16
      },
      "700": {
        "slidesPerView": 2,
        "spaceBetween": 24
      },
      "1000": {
        "slidesPerView": 3,
        "spaceBetween": 24
      }
    }
  }'>
    <div class="swiper-wrapper gallery" data-video="true">

        {% for image in images %}
      <!-- Item -->
      <div class="swiper-slide">
        <a href="{{ image.image.url }}" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">{{ image.description|safe }}</h6>'>
          <img src="{{ image.image.url }}"
               alt="{{ image.title }}"
               title="{{ image.title }}">
          <div class="gallery-item-caption fs-sm fw-medium">{{ image.description|safe }}</div>
        </a>
      </div>
{% endfor %}
    </div>
    <div class="swiper-pagination position-relative pt-3 pt-sm-4 mt-4"></div>
  </div>
</div>
    </section>
{% endif %}


    {% if comments %}
    <!-- Testimonials -->
    <section class="py-5 mb-md-2"
             style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);">
        <div class="container py-lg-4">
            <div class="row py-md-3">
                <div class="col-xl-3 col-lg-4 pt-2">
                    <h2 class="h1 text-center text-lg-start pb-2">Отзывы игроков</h2>

                    <!-- Slider prev/next buttons -->
                    <div class="d-flex justify-content-center justify-content-lg-start pt-lg-5">
                        <button type="button" id="prev-review" class="btn btn-prev btn-icon btn-sm me-3"
                                aria-label="Previous">
                            <i class="bx bx-chevron-left"></i>
                        </button>
                        <button type="button" id="next-review" class="btn btn-next btn-icon btn-sm" aria-label="Next">
                            <i class="bx bx-chevron-right"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8 offset-xl-1 pt-4 mt-2 mt-md-3 mt-lg-0 pt-lg-0">
                    <div class="px-2 px-sm-0">
                        <div class="swiper mx-n2" data-swiper-options='{
                  "slidesPerView": 1,
                  "spaceBetween": 8,
                  "navigation": {
                    "prevEl": "#prev-review",
                    "nextEl": "#next-review"
                  },
                  "loop": true,
                  "breakpoints": {
                    "600": { "slidesPerView": 2 }
                  }
                }'>
                            <div class="swiper-wrapper">

                                {% for comment in comments %}
                                <!-- Item -->
                                <div class="swiper-slide h-auto pt-4 pb-3 px-2">
                                    <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                                        <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                          <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                            <i class="bx bxs-quote-left"></i>
                          </span>
                                            <blockquote class="card-body pb-4 mb-0">
                                                <div class="text-nowrap pt-1 mb-3">
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                    <i class="bx bxs-star text-warning"></i>
                                                </div>
                                                <p class="fs-sm mb-0">{{ comment.text }}</p>
                                            </blockquote>
                                            <div class="card-footer d-flex align-items-center border-0 pt-0">
                                                <img src="/media/img/avatar.jpg" width="48"
                                                     class="rounded-circle ms-n1" alt="{{ comment.author }}">
                                                <div class="ps-2 ms-1">
                                                    <h6 class="fs-base fw-semibold mb-0">{{ comment.author }}</h6>
                                                    <span class="fs-sm text-muted">Игрок</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}





</main>


<!-- Footer -->
<footer class="footer bg-dark py-5" data-bs-theme="dark">
    <div class="container pt-2 pt-sm-4">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0">
                <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
                    <img src="{% if site.logo %}{{ site.logo.url }}{% endif %}" width="147" alt="{{ site.slot_name }}">
                </div>
                <p class="text-body mb-0">Данный портал предназначен для ознакомления только для лиц, достигших возраста 18 лет. Мы не рекламируем услуги онлайн-казино. Сайт {{ site.allowed_domain|upper }} носит исключительно информационный характер и не пропагандирует азартные игры среди несовершеннолетних граждан.</p>
            </div>
            <div class="col-md-6 col-xxl-5 offset-lg-1 offset-xl-2 offset-xxl-3">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col pb-2 pb-sm-0 mb-4 mb-sm-0">
                        <h3 class="h5 pb-1 pb-sm-2 pb-lg-3">Контакты</h3>
                        <ul class="nav flex-column mb-3">
{#                            <li>#}
{#                                <a href="tel:4065550120" class="nav-link fs-lg fw-normal px-0 py-1">#}
{#                                    <i class="bx bx-phone-call fs-4 me-2"></i>#}
{#                                    (406)&nbsp;555&#8209;0120#}
{#                                </a>#}
{#                            </li>#}
                            <li>
                                <a href="mailto:manager@{{ site.allowed_domain }}" class="nav-link fs-lg fw-normal px-0 py-1">
                                    <i class="bx bx-envelope fs-4 me-2"></i>
                                    manager@{{ site.allowed_domain }}
                                </a>
                            </li>
                        </ul>
{#                        <div class="d-flex pt-2 pt-sm-3 pt-md-4">#}
{#                            <a href="#" class="btn btn-icon btn-sm btn-secondary btn-facebook rounded-circle me-3"#}
{#                               aria-label="Facebook">#}
{#                                <i class="bx bxl-facebook"></i>#}
{#                            </a>#}
{#                            <a href="#" class="btn btn-icon btn-sm btn-secondary btn-linkedin rounded-circle me-3"#}
{#                               aria-label="LinkedIn">#}
{#                                <i class="bx bxl-linkedin"></i>#}
{#                            </a>#}
{#                            <a href="#" class="btn btn-icon btn-sm btn-secondary btn-telegram rounded-circle me-3"#}
{#                               aria-label="Telegram">#}
{#                                <i class="bx bxl-telegram"></i>#}
{#                            </a>#}
{#                            <a href="#" class="btn btn-icon btn-sm btn-secondary btn-youtube rounded-circle me-3"#}
{#                               aria-label="YouTube">#}
{#                                <i class="bx bxl-youtube"></i>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                    <div class="col ps-sm-4 ps-md-5">
                        <h3 class="h5 pb-1 pb-sm-2 pb-lg-3">Полезные ссылки</h3>
                        <div class="nav dropdown">
                            <a href="#" class="nav-link dropdown-toggle fs-lg fw-normal px-0 py-1"
                               data-bs-toggle="dropdown">
                                {{ content.first.title }}
                            </a>
                            <div class="dropdown-menu my-1">
                                {% for page in inner_pages %}
                                <a href="/page/{{ page.slug }}/" class="dropdown-item fs-base pb-1">
                                    {{ page.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="nav d-block fs-sm pt-5 mb-0">
            <span class="text-light opacity-60">&copy; All rights reserved. Made by </span>
            <a class="nav-link d-inline-block p-0" href="/" target="_blank" rel="noopener">{{ site.allowed_domain|upper }}</a>
        </p>
    </div>
</footer>


<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>


<!-- Vendor Scripts -->
<script src="/static/scon/assets/vendor/parallax-js/dist/parallax.min.js"></script>
<script src="/static/scon/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/scon/assets/vendor/lightgallery/lightgallery.min.js"></script>
<script src="/static/scon/assets/vendor/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
<script src="/static/scon/assets/vendor/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
<script src="/static/scon/assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script src="/static/scon/assets/vendor/lightgallery/plugins/video/lg-video.min.js"></script>

<!-- Main Theme Script -->
<script src="/static/scon/assets/js/theme.min.js"></script>
<script src="/static/scon/assets/js/showmore.js"></script>
<script src="/static/scon/assets/js/promocodecopy.js"></script>
<script src="/static/scon/assets/js/hl.js"></script>



{% if accepted_answer %}
<script type="application/ld+json"> {
 "@context": "http://schema.org",
 "@type": "QAPage",
 "mainEntity": {
 "@type": "Question",
 "name": "{% if content.first.is_version_page %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %}",
 "text": "{{ accepted_answer.question }}",
 "answerCount": "1",
 "dateCreated": "2024-02-02",
 "author": {
 "@type": "Person",
 "name": "Peter Green"
 },
 "acceptedAnswer": {
 "@type": "Answer",
 "text": "{{ accepted_answer.answer }}",
 "dateCreated": "2024-02-02",
 "upvoteCount": "567",
 "url": "https://{{ site.allowed_domain }}/",
 "author": {
 "@type": "Person",
 "name": "Alex Brown"
 }
 }
 }
}



    </script>
{% endif %}

{% if faqs %}
    <script type="application/ld+json"> {
 "@context": "https://schema.org",
 "@type": "FAQPage",
 "mainEntity": [{% for faq in faqs %}{
 "@type": "Question",
 "name": "{{ faq.question }}",
 "acceptedAnswer": {
 "@type": "Answer",
 "text": "{{ faq.answer }}"
 }
 }{% if not forloop.last %}{% endif %}
{% endfor %}]
}



    </script>
{% endif %}

<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "VideoGame",
            "name": "{% if content.first.is_version_page %}{{ content.first.title }}{% else %}{{ site.slot_name }}{% endif %}",
            "image": "https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}",
            "description": "{{ site.slot_name }}. {{ content.first.title }}. {{ bonuses.first.name|striptags }}.",
            "applicationCategory": "Game",
            "applicationSubcategory": "Slot Machine",
            "operatingSystem": "Multi-platform",
            "author": {
                "@type": "Organization",
                "name": "{{ site.allowed_domain|upper }}"
            }
        }



</script>

<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "@id": "https://{{ site.allowed_domain }}/#organization",
            "name": "{{ content.first.title }}",
            "url": "https://{{ site.allowed_domain }}/",
            "logo": {
                "@type": "ImageObject",
                "url": "https://{{ site.allowed_domain }}{% if site.hero_image %}{{ site.hero_image.url }}{% endif %}",
                "width": "360",
                "height": "360"
            },
            "brand": "{{ site.allowed_domain|upper }}"
        }



</script>



<script type="text/javascript">
    $(document).ready(function () {
        $(".loadIframeBtn").on("click", function () {
            // Создаем элемент iframe
            var iframe = $("<iframe>");

            // Устанавливаем атрибуты iframe (src, width, height и т.д.)
            iframe.attr({
                src: "{% if content.first.demo %}{{ content.first.demo|safe }}{% else %}{{ site.demo|safe }}{% endif %}", // ваш URL для iframe
                width: "100%",
                height: "100%",
                frameborder: "0",
                allowfullscreen: true
            });

            // Вставляем iframe в контейнер
            $("#iframeContainer").html(iframe);

            setTimeout(function () {
                var popup = document.getElementById("popup");
                popup.classList.add("is-active");
            }, 20000);

        });
    });

</script>

</body>
</html>